{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="{% static 'registration/login.css' %}">
</head>
<body>
    <form class="login-container" method="post">
        {% csrf_token %}
        <h2>Войти</h2>
        
        <input class="input-button" name="username" placeholder="Имя пользователя" type="text" value="{{ form.username.value|default:'' }}"required>
        {% if form.username.errors %}
            <p class="error">{{ form.username.errors.0 }}</p>
        {% endif %}
        <input class="input-button"name="password" type="password" placeholder="Пароль" required>
        {% if form.password.errors %}
            <p class="error">{{ form.password.errors.0 }}</p>
        {% endif %}
        
        {% if form.non_field_errors %}
            <p class="error" id="loginError">
            Неверное имя пользователя или пароль
            </p>
        {% endif %}
        <div class="action-buttons">
            <button class="btn register-btn" onclick="window.location.href='/sign-up'">Регистрация</button>
            <button class="btn login-btn green-btn">Войти</button>
        </div>
    </form>
</body>
</html>